<div class="container">
    <div class="row" *ngFor="let sondage of sondageList">
        <div class="col" style="width: 40;">
          <!-- NOT VOTED CARD-->
          <mat-card *ngIf="!sondage.isVoted" style="margin: 2%;">
                  
                        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                          <!-- Card img -->

                          <a>
                            <div class="mask"></div>
                          </a>
                        </div>
                        <!--Card content-->
                        <mat-card-content>
                          <mat-card-title>
                            <h2>{{sondage.nom}}</h2>
                          </mat-card-title>
                          <div class="row">
                            <div class="col-sm">
                          <!--Title-->
                          <p>Description :</p>
                          <div><p>{{sondage.description}}</p></div>
                          </div>
    
                          <mat-divider vertical="true" style="color: black;"></mat-divider>

                          <div class="col-sm">
                            <p>Choisissez une date et un lieu : </p>
                            <div class="row">
                            <div class="col-sm">
                              <mat-selection-list #date>
                                <mat-list-option *ngFor="let date of sondage.date" [value]="date">
                                  {{date.date}}
                                </mat-list-option>
                              </mat-selection-list>
                            </div>

                            <div class="col-sm">
                              <mat-selection-list #lieu>
                                <mat-list-option *ngFor="let lieu of sondage.lieu" [value]="lieu">
                                  {{lieu.libelleLieu}}
                                </mat-list-option>
                              </mat-selection-list>
                          </div>
                        </div>
                         </div>
                          </div>
                        <button mat-raised-button color="primary" [disabled]="!lieu.selectedOptions.selected[0]?.value.id || !date.selectedOptions.selected[0]?.value.id" (click)="voter(lieu.selectedOptions.selected[0]?.value.id,date.selectedOptions.selected[0]?.value.id, sondage.id)"><i class="far fa-thumbs-up"></i> Voter</button>
                        </mat-card-content>

                      </mat-card>
                      <!-- /NOT VOTED CARD -->

                      <!-- VOTED CARD -->
                      <mat-card *ngIf="sondage.isVoted" style="margin: 2%;">
                  
                        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                          <!-- Card img -->

                          <a>
                            <div class="mask"></div>
                          </a>
                        </div>
                        <!--Card content-->
                        <mat-card-content>
                          <mat-card-title>
                            <h2>[VOTÉ] {{sondage.nom}}</h2>
                          </mat-card-title>

                          <div class="row">

                            <div class="col-sm">
                          <!--Title-->

                            <div class="col-sm">
                          <p>Description :</p>
                          <i class="fas fa-quote-left"></i>&nbsp;{{sondage.description}}&nbsp;<i class="fas fa-quote-right"></i>
                          </div>
                       
                          </div>
    
                          <mat-divider vertical="true" style="color: black;"></mat-divider>

                          <div class="col-sm">
                            <p>Les date/lieu votées : </p>
                            <div class="row">
                            <div class="col-sm">
                              <mat-selection-list #date>
                                <mat-list-option disabled="true" selected="true">
                                  {{sondage.voted_date.date}}
                                </mat-list-option>
                              </mat-selection-list>
                            </div>

                            <div class="col-sm">
                              <mat-selection-list #lieu>
                                <mat-list-option disabled="true" selected="true">
                                  {{sondage.voted_lieu.libelleLieu}}
                                </mat-list-option>
                              </mat-selection-list>
                          </div>
                        </div>
                         </div>
                          </div>

                        </mat-card-content>

                      </mat-card>
                      <!-- VOTED CARD -->

        </div>
    </div>
    <div class="example-button-container" style="position: fixed; bottom: 7%; right: 5%;">
      <button mat-fab color="primary" (click)="openModal()" aria-label="Example icon button with a delete icon">
        <i class="fas fa-plus"></i>
      </button>
    </div>
</div>