<div class="container">
    <div class="row" *ngFor="let sondage of sondageList">
        <div class="col" style="width: 40;">
                <mdb-card style="margin: 1%;">
                        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                          <!-- Card img -->

                          <a>
                            <div class="mask"></div>
                          </a>
                        </div>
                        <!--Card content-->
                        <mdb-card-body>


                          <!--Title-->
                          <mdb-card-title>
                            <h2>{{sondage.nom}}</h2>
                          </mdb-card-title>
                          
                          <!--Text-->
                          <mdb-card-text><i class="fas fa-quote-left"></i>&nbsp;{{sondage.description}}&nbsp;<i class="fas fa-quote-right"></i></mdb-card-text>
                          
                          <button mat-raised-button color="primary"><i class="far fa-thumbs-up"></i> Voter</button>
                          

                        </mdb-card-body>
                          <!-- Card footer -->
                        <mdb-card-footer class="mdb-color lighten-3 text-center">
                          <ul class="list-unstyled list-inline font-small mt-3">
                            <li class="list-inline-item pr-2 white-text">
                              <mdb-icon far icon="clock" class="pr-1" aria-placeholder="Date de l'evenement"></mdb-icon>{{sondage.date}}</li>
                            <li class="list-inline-item pr-2 white-text">
                              <mdb-icon far icon="users" class="pr-1" aria-placeholder="Personnes ayant votés"></mdb-icon>2
                            </li>
                          </ul>
                        </mdb-card-footer>
                      </mdb-card>
                      <!-- Card -->
        </div>
    </div>
    <div class="example-button-container" style="position: fixed; bottom: 7%; right: 5%;">
      <button mat-fab color="primary" (click)="openModal()" aria-label="Example icon button with a delete icon">
        <i class="fas fa-plus"></i>
      </button>
    </div>
</div>