<div class="container">
    <div class="row" *ngFor="let sondage of sondageList">
        <div class="col" style="width: 40;">
          <mat-card style="margin: 3%;">
                  
                        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                          <!-- Card img -->

                          <a>
                            <div class="mask"></div>
                          </a>
                        </div>
                        <!--Card content-->
                        <mat-card-content>
                          <mat-card-title>
                            <h2>{{sondage.nom}}</h2>
                          </mat-card-title>
                          <div class="row">

                            <div class="col-sm">
                          <!--Title-->

                          
                          <!--Text-->
                          <p>Description :</p>
                          <i class="fas fa-quote-left"></i>&nbsp;{{sondage.description}}&nbsp;<i class="fas fa-quote-right"></i>
                          </div>

                          <mat-divider vertical="true" style="color: black;"></mat-divider>

                          <div class="col-sm">
                            <p>Choisissez une date et un lieu : </p>
                            <div class="row">
                            <div class="col-sm">
                              <mat-selection-list #date>
                                <mat-list-option *ngFor="let date of sondage.date" [value]="date">
                                  {{date.date}}
                                </mat-list-option>
                              </mat-selection-list>
                            </div>

                            <div class="col-sm">
                              <mat-selection-list #lieu>
                                <mat-list-option *ngFor="let lieu of sondage.lieu" [value]="lieu">
                                  {{lieu.libelleLieu}}
                                </mat-list-option>
                              </mat-selection-list>
                              <p>
                                Option selected: {{lieu.selectedOptions.selected[0]?.value.id}}
                              </p>
                          </div>
                        </div>
                         </div>

                          


                          </div>
                        <button mat-raised-button color="primary" (click)="voter(lieu.selectedOptions.selected[0]?.value.id,date.selectedOptions.selected[0]?.value.id, sondage.id)"><i class="far fa-thumbs-up"></i> Voter</button>
                        </mat-card-content>
                          <!-- Card footer -->
                        
                      </mat-card>
                      <!-- Card -->
        </div>
    </div>
    <div class="example-button-container" style="position: fixed; bottom: 7%; right: 5%;">
      <button mat-fab color="primary" (click)="openModal()" aria-label="Example icon button with a delete icon">
        <i class="fas fa-plus"></i>
      </button>
    </div>
</div>